<a href="/details/{{_id}}" class="added-destination">
	<img src={{imgUrl}} alt="{{imgUrl}}" class="picture-added-destination">
	<h3>{{city}}</h3>
	<span>{{destination}} </span><span>{{departureDate}}</span>
</a>