<section class="details">
    <div class="detail">
        <h1>{{item.title}}</h1>
        <h2>{{item.category}}</h2>
        <h3>{{item.content}}</h3>
        <a href="/home">Back to Home</a>
    </div>
</section>
{{!-- <div class="container"></div>
<div class="row bg-light text-dark">
    <h1>{{item.title}}</h1>

    <div class="col-md-8">
        <img class="img-thumbnail" src={{item.url}} alt={{item.title}}>
    </div>
    <div class="col-md-4 text-center">
        <h3 class="my-3 ">Movie Description</h3>
        <p>{{item.description}}.</p>
        {{#if canEdit}}
        <a class="btn btn-danger" href="/delete/{{item._id}}">Delete</a>
        <a class="btn btn-warning" href="/edit/{{item._id}}">Edit</a>
        {{/if}}
        <a class="btn btn-primary" href="">Like</a>
        <span class="enrolled-span">Liked 1</span>
    </div>
</div>
</div> --}}

{{!-- row 15 16 -> not implemented yet --}}

{{!-- <form action="#/edit/{{objectId}}" method="post"></form>
<h1>Edit Offer</h1>
<p class="message"></p>
<form>
    <div>
        <input type="text" placeholder="Name...">
    </div>
    <div>
        <input type="text" placeholder="Price...">
    </div>
    <div>
        <input type="text" placeholder="Image url...">
    </div>
    <div>
        <textarea placeholder="Give us some description about this offer..."></textarea>
    </div>
    <div>
        <input type="text" placeholder="Brand...">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form> --}}



{{!-- 
<form action="#/edit/{{objectId}}" method="post">
    <div class="form-group">
        <label for="name">New Team Name:</label>
        <input class="form-control" type="text" id="name" name="name" value="{{name}}" />
    </div>
    <div class="form-group">
        <label for="comment">New Team Comment/Description: </label>
        <input class="form-control" type="text" id="description" name="description" value="{{description}}" />
    </div>
    <input class="btn btn-default" type="submit" value="Update Team" />
</form> --}}